<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.gjp0609.ams.dao.UserDao">
    <cache/>
    <resultMap id="UserRMap" type="User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="realName" column="realName"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <association property="college" javaType="College">
            <id property="id" column="collegeId"/>
            <result property="name" column="collageName"/>
        </association>
        <collection property="subjects" select="findSubjects" column="id"/>
    </resultMap>

    <sql id="select">
        SELECT
            U.ID,
            U.NAME,
            U.REAL_NAME  realName,
            U.PASSWORD,
            U.ROLE,
            U.COLLEGE_ID collegeId,
            C.NAME       collageName,
            ROWNUM       rn
        FROM T_AMS_USER U LEFT JOIN T_AMS_COLLEGE C ON U.COLLEGE_ID = C.ID
    </sql>

    <select id="selectUserByCdt" resultMap="UserRMap">
        SELECT *
        FROM (
        <include refid="select"/>
        <where>
            <if test="user.id!=null">U.ID = #{user.id}</if>
            <if test="user.name!=null">AND U.NAME = #{user.name}</if>
            <if test="user.realName!=null">AND U.REAL_NAME LIKE '%${user.realName}%'</if>
            <if test="user.password!=null">AND U.PASSWORD = #{user.password}</if>
            <if test="user.role!=null">AND U.ROLE = #{user.role}</if>
            <if test="user.college!=null">
                <if test="user.college.id!=null">AND C.ID = #{user.college.id}</if>
                <if test="user.college.name!=null">AND C.NAME LIKE '%${user.college.name}%'</if>
            </if>
        </where>
        )
        <where>rn BETWEEN #{firstRow} and #{lastRow}</where>
    </select>

    <select id="findSubjects" resultType="Subject">
        SELECT
            S.ID,
            S.NAME
        FROM T_AMS_TEACHER_SUBJECT T LEFT JOIN T_AMS_SUBJECT S ON T.SID = S.ID
        WHERE T.TID = #{id}
    </select>

    <insert id="insertUser">
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            SELECT T_AMS_USER_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO T_AMS_USER VALUES (#{id},#{name},#{realName},#{password},#{role},#{college.id})
    </insert>

    <select id="selectTotalRows" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM T_AMS_USER U LEFT JOIN T_AMS_COLLEGE C ON U.COLLEGE_ID = C.ID
        <where>
            ROLE = 'teacher'
            <if test="realName!=null">AND U.REAL_NAME LIKE '%${realName}%'</if>
            <if test="college!=null">
                <if test="college.name!=null">AND C.NAME LIKE '%${college.name}%'</if>
            </if>
        </where>
    </select>

</mapper>